## Preprocessing

In [94]:
# Import the required modules
import pandas as pd
pd.set_option('display.max_columns', None)
import numpy as np

# visualization
import matplotlib.pyplot as plt
import seaborn as sns

# Machine Learning
from sklearn.model_selection import train_test_split, cross_val_score, StratifiedKFold

# Metrics
from sklearn.metrics import confusion_matrix, classification_report, roc_auc_score, roc_curve, RocCurveDisplay

# Pre-Processing
from sklearn.preprocessing import StandardScaler, OneHotEncoder, OrdinalEncoder
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer
from sklearn.impute import SimpleImputer

# Models
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier, AdaBoostClassifier, ExtraTreesClassifier, GradientBoostingClassifier
from sklearn.svm import SVC
from sklearn.neighbors import KNeighborsClassifier

import tensorflow as tf

# suppress warnings
import warnings
warnings.filterwarnings('ignore')

In [95]:
#  Import and read the charity_data.csv.
app_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
app_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [96]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
cols_to_drop =["EIN", "NAME"]
app_df.drop(columns=cols_to_drop, inplace=True)
app_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [97]:
app_df.columns

Index(['APPLICATION_TYPE', 'AFFILIATION', 'CLASSIFICATION', 'USE_CASE',
       'ORGANIZATION', 'STATUS', 'INCOME_AMT', 'SPECIAL_CONSIDERATIONS',
       'ASK_AMT', 'IS_SUCCESSFUL'],
      dtype='object')

In [98]:
# Determine the number of unique values in each column.
cols = ['APPLICATION_TYPE', 'AFFILIATION', 'CLASSIFICATION',
       'USE_CASE', 'ORGANIZATION', 'STATUS', 'INCOME_AMT',
       'SPECIAL_CONSIDERATIONS', 'ASK_AMT', 'IS_SUCCESSFUL']

for col in cols:
  print(col)
  print(app_df[col].nunique())
  print()

APPLICATION_TYPE
17

AFFILIATION
6

CLASSIFICATION
71

USE_CASE
5

ORGANIZATION
4

STATUS
2

INCOME_AMT
9

SPECIAL_CONSIDERATIONS
2

ASK_AMT
8747

IS_SUCCESSFUL
2

In [99]:
# Look at APPLICATION_TYPE value counts to identify and replace with "Other"
app_df['APPLICATION_TYPE'].value_counts()

APPLICATION_TYPE
T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: count, dtype: int64

In [100]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
threshold = 157
app_counts = app_df['APPLICATION_TYPE'].value_counts()
application_types_to_replace = app_counts.loc[app_counts < threshold].index.tolist()
# Replace in dataframe
for app in application_types_to_replace:
    app_df['APPLICATION_TYPE'] = app_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure replacement was successful
app_df['APPLICATION_TYPE'].value_counts()

APPLICATION_TYPE
T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: count, dtype: int64

In [101]:
# Look at CLASSIFICATION value counts to identify and replace with "Other"
class_counts = app_df['CLASSIFICATION'].value_counts()
class_counts

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: count, Length: 71, dtype: int64

In [102]:
# You may find it helpful to look at CLASSIFICATION value counts >1
class_counts = app_df['CLASSIFICATION'].value_counts()
class_counts.loc[class_counts > 1]

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: count, dtype: int64

In [103]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
class_counts = app_df['CLASSIFICATION'].value_counts()
classifications_to_replace = class_counts.loc[class_counts < 59].index.tolist()

# Replace in dataframe
for cls in classifications_to_replace:
    app_df['CLASSIFICATION'] = app_df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure replacement was successful
app_df['CLASSIFICATION'].value_counts()

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
Other      499
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
Name: count, dtype: int64

In [104]:
# Convert categorical data to numeric with `pd.get_dummies`
df = pd.get_dummies(app_df, dtype=int)
df.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,APPLICATION_TYPE_T7,APPLICATION_TYPE_T8,AFFILIATION_CompanySponsored,AFFILIATION_Family/Parent,AFFILIATION_Independent,AFFILIATION_National,AFFILIATION_Other,AFFILIATION_Regional,CLASSIFICATION_C1000,CLASSIFICATION_C1200,CLASSIFICATION_C1270,CLASSIFICATION_C1700,CLASSIFICATION_C2000,CLASSIFICATION_C2100,CLASSIFICATION_C2700,CLASSIFICATION_C2800,CLASSIFICATION_C3000,CLASSIFICATION_C4000,CLASSIFICATION_C5000,CLASSIFICATION_C7000,CLASSIFICATION_C7100,CLASSIFICATION_Other,USE_CASE_CommunityServ,USE_CASE_Heathcare,USE_CASE_Other,USE_CASE_Preservation,USE_CASE_ProductDev,ORGANIZATION_Association,ORGANIZATION_Co-operative,ORGANIZATION_Corporation,ORGANIZATION_Trust,INCOME_AMT_0,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,1,0,0,0,0,0,0,0,0,1,0
1,1,108590,1,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1,0,0,0,1,0,0,0,0,0,0,0,1,0
2,1,5000,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,1,0,0,0,1,0,0,0,0,0,0,0,0,1,0
3,1,6692,1,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0,1,0,0,0,0,0,0,1,0
4,1,142590,1,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,1,0

In [105]:
# Split our preprocessed data into our features and target arrays
X = df.drop(columns=["IS_SUCCESSFUL"])
y = df.IS_SUCCESSFUL

#X = df.drop(["IS_SUCCESSFUL"], axis='columns').values
#y = df["IS_SUCCESSFUL"].values

# Split the preprocessed data into a training and testing dataset

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=1, stratify=y) # stratify=True maintains target class percentages
print(X_train.shape, X_test.shape)

(25724, 51) (8575, 51)

In [106]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train["ASK_AMT"].values.reshape(-1, 1))

# Scale the data
X_train_scaled = X_train.copy()
X_train_scaled["ASK_AMT"] = X_scaler.transform(X_train["ASK_AMT"].values.reshape(-1, 1))

X_test_scaled = X_test.copy()
X_test_scaled["ASK_AMT"] = X_scaler.transform(X_test["ASK_AMT"].values.reshape(-1, 1))

X_train_scaled.head()

,STATUS,ASK_AMT,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,APPLICATION_TYPE_T7,APPLICATION_TYPE_T8,AFFILIATION_CompanySponsored,AFFILIATION_Family/Parent,AFFILIATION_Independent,AFFILIATION_National,AFFILIATION_Other,AFFILIATION_Regional,CLASSIFICATION_C1000,CLASSIFICATION_C1200,CLASSIFICATION_C1270,CLASSIFICATION_C1700,CLASSIFICATION_C2000,CLASSIFICATION_C2100,CLASSIFICATION_C2700,CLASSIFICATION_C2800,CLASSIFICATION_C3000,CLASSIFICATION_C4000,CLASSIFICATION_C5000,CLASSIFICATION_C7000,CLASSIFICATION_C7100,CLASSIFICATION_Other,USE_CASE_CommunityServ,USE_CASE_Heathcare,USE_CASE_Other,USE_CASE_Preservation,USE_CASE_ProductDev,ORGANIZATION_Association,ORGANIZATION_Co-operative,ORGANIZATION_Corporation,ORGANIZATION_Trust,INCOME_AMT_0,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
15029,1,-0.013342,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,1,0,0,0,1,0
22784,1,-0.030891,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0,0,1,0,0,0,0,0,0,0,0,1,0
13575,1,-0.030891,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1,1,0,0,0,0,0,0,0,0,1,0
22153,1,-0.030891,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1,1,0,0,0,0,0,0,0,0,1,0
17052,1,-0.030891,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1,1,0,0,0,0,0,0,0,0,1,0

## Compile, Train and Evaluate the Model

In [107]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.

# Create the Keras Sequential model
nn_model = tf.keras.models.Sequential()

# Add our first Dense layer, including the input layer
nn_model.add(tf.keras.layers.Dense(units=8, activation="relu", input_dim=len(X.columns)))

# Add in a second layer
nn_model.add(tf.keras.layers.Dense(units=8, activation="relu"))

# Add in a third layer
nn_model.add(tf.keras.layers.Dense(units=8, activation="relu"))

# Add in fourth layer
#nn_model.add(tf.keras.layers.Dense(units=3, activation="relu"))


# Add the output layer that uses a probability activation function
nn_model.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the Sequential model
nn_model.summary()

Model: "sequential_3"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━┓
┃ Layer (type)                         ┃ Output Shape                ┃         Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━┩
│ dense_14 (Dense)                     │ (None, 8)                   │             416 │
├──────────────────────────────────────┼─────────────────────────────┼─────────────────┤
│ dense_15 (Dense)                     │ (None, 8)                   │              72 │
├──────────────────────────────────────┼─────────────────────────────┼─────────────────┤
│ dense_16 (Dense)                     │ (None, 8)                   │              72 │
├──────────────────────────────────────┼─────────────────────────────┼─────────────────┤
│ dense_17 (Dense)                     │ (None, 1)                   │               9 │
└──────────────────────────────────────┴─────────────────────────────┴─────────────────┘

 Total params: 569 (2.22 KB)

 Trainable params: 569 (2.22 KB)

 Non-trainable params: 0 (0.00 B)

In [108]:
# Compile the model
# Compile the Sequential model together and customize metrics
nn_model.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [109]:
# Train the model
# Fit the model to the training data
fit_model = nn_model.fit(X_train, y_train, epochs=40)

Epoch 1/40
804/804 ━━━━━━━━━━━━━━━━━━━━ 2s 958us/step - accuracy: 0.5034 - loss: 17873.6699
Epoch 2/40
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 923us/step - accuracy: 0.5088 - loss: 200.3628
Epoch 3/40
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 885us/step - accuracy: 0.5013 - loss: 1745.1857
Epoch 4/40
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 854us/step - accuracy: 0.5056 - loss: 529.2735
Epoch 5/40
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 873us/step - accuracy: 0.5036 - loss: 1015.4913
Epoch 6/40
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 946us/step - accuracy: 0.5165 - loss: 1219.0066
Epoch 7/40
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 872us/step - accuracy: 0.5149 - loss: 74.5132
Epoch 8/40
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 870us/step - accuracy: 0.5122 - loss: 552.4251
Epoch 9/40
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 866us/step - accuracy: 0.5164 - loss: 50.9848
Epoch 10/40
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 873us/step - accuracy: 0.5298 - loss: 0.6914
Epoch 11/40
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 939us/step - accuracy: 0.5300 - loss: 0.6914
Epoch 12/40
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 910us/step - accuracy: 0.5364 - loss: 0.6905
Epoch 13/40
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 901us/step - accuracy: 0.5310 - loss: 0.6913
Epoch 14/40
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.5337 - loss: 0.6909
Epoch 15/40
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 909us/step - accuracy: 0.5309 - loss: 0.6913
Epoch 16/40
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.5305 - loss: 0.6914
Epoch 17/40
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 906us/step - accuracy: 0.5328 - loss: 0.6911
Epoch 18/40
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 897us/step - accuracy: 0.5333 - loss: 0.6910
Epoch 19/40
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 910us/step - accuracy: 0.5304 - loss: 0.6914
Epoch 20/40
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 896us/step - accuracy: 0.5304 - loss: 0.6913
Epoch 21/40
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 892us/step - accuracy: 0.5262 - loss: 0.6918
Epoch 22/40
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 895us/step - accuracy: 0.5345 - loss: 0.6908
Epoch 23/40
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 899us/step - accuracy: 0.5313 - loss: 0.6912
Epoch 24/40
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.5344 - loss: 0.6908
Epoch 25/40
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 924us/step - accuracy: 0.5342 - loss: 0.6908
Epoch 26/40
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 931us/step - accuracy: 0.5317 - loss: 0.6912
Epoch 27/40
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 934us/step - accuracy: 0.5283 - loss: 0.6917
Epoch 28/40
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 945us/step - accuracy: 0.5307 - loss: 0.6914
Epoch 29/40
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 943us/step - accuracy: 0.5367 - loss: 0.6905
Epoch 30/40
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 937us/step - accuracy: 0.5334 - loss: 0.6910
Epoch 31/40
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 943us/step - accuracy: 0.5351 - loss: 0.6908
Epoch 32/40
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.5364 - loss: 0.6905
Epoch 33/40
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 982us/step - accuracy: 0.5325 - loss: 0.6911
Epoch 34/40
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 914us/step - accuracy: 0.5358 - loss: 0.6906
Epoch 35/40
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 899us/step - accuracy: 0.5328 - loss: 0.6911
Epoch 36/40
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 986us/step - accuracy: 0.5372 - loss: 0.6904
Epoch 37/40
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 976us/step - accuracy: 0.5365 - loss: 0.6906
Epoch 38/40
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.5282 - loss: 0.6916
Epoch 39/40
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 928us/step - accuracy: 0.5306 - loss: 0.6913
Epoch 40/40
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.5375 - loss: 0.6905

In [110]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn_model.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - 1ms/step - accuracy: 0.5324 - loss: 0.6932
Loss: 0.6932283043861389, Accuracy: 0.5323615074157715

In [111]:
# Export our model to HDF5 file
 #nn_model.save("my_model4.h5")